<extend name="./Flhome/Fladmin/View/base.html" />
<block name="title">关键词列表</block>

<block name="content">
<h2 class="sub-header">关键词管理</h2>[ <a href="/Fladmin/Keyword/add">添加关键词</a> ]<br><br>

<form name="listarc"><div class="table-responsive"><table class="table table-striped table-hover">
<thead><tr>
<th>编号</th>
<th>关键词</th>
<th>链接网址</th>
<th>管理</th>
</tr></thead>
<tbody>
<?php foreach($posts as $row){ ?><tr>
<td><?php echo $row["id"]; ?></td>
<td><?php echo $row["keyword"]; ?></td>
<td><?php echo $row["rpurl"]; ?></td>
<td><a href="/Fladmin/Keyword/edit?id=<?php echo $row["id"]; ?>">修改</a> | <a onclick="delconfirm('/Fladmin/Keyword/del?id=<?php echo $row["id"]; ?>')" href="javascript:;">删除</a></td>
</tr><?php } ?>
</tbody></table></div><!-- 表格结束 --></form><!-- 表单结束 -->

<nav><ul class="pager"><?php $nowurl = (!empty($_SERVER['QUERY_STRING'])) ? $_SERVER['QUERY_STRING'] : 'page=1';if($page == 0){}else{echo '<li><a class="prep" href="/Fladmin/Keyword?'.preg_replace('/page=[0-9]+/i','page='.$previouspage,$nowurl).'">上一页</a></li>';} ?><?php if($page+1 < $pages && $pages>1){echo '<li><a class="nextp" href="/Fladmin/Keyword?'.preg_replace('/page=[0-9]+/i','page='.$nextpage,$nowurl).'">下一页</a></li>';} ?></ul></nav>
</block>