<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><?php if(empty($post["seotitle"])){echo $post["typename"];}else{echo $post["seotitle"];} ?></title>
<link rel="stylesheet" href="/css/bootstrap.min.css"><link rel="stylesheet" href="/css/style.css"><script src="/js/jquery.min.js"></script><script src="/js/bootstrap.min.js"></script></head><body>

<include file="./Flhome/Home/View/header.html" />
<div class="container"><div class="row">
<div class="bread"><a href="/"><?php echo sysconfig('cms_indexname'); ?></a> > <?php echo get_cat_path($post["id"],"product_type","productlist"); ?></div>
<h1 class="page-header"><?php echo $post["typename"]; ?></h1>

<?php if($posts){foreach($posts as $row){ ?>
<div class="col-xs-6 col-sm-3" style="margin-top:20px;margin-bottom:10px;">
<a href="<?php echo url(array("id"=>$row['id'],"type"=>'productdetail')); ?>">
<img src="<?php echo $row['litpic']; ?>" alt="<?php echo $row['title']; ?>" class="imgzsy">
<p style="padding-top:10px;"><?php echo $row['title']; ?></p>
</a></div><?php }} ?>
<script>
$(function(){
	$(".imgzsy").height(function(){return $(this).width()*2/3;});
});
</script>
<br class="cl">
<div class="pages"><ul><?php echo $pagenav; ?></ul><div class="cl"></div></div>

</div><!--/row--></div><!-- /.container -->
<include file="./Flhome/Home/View/footer.html" /></body></html>